<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>WeMatch_dev</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>videomain</servlet-name>
		<jsp-file>/WEB-INF/pages/VideoPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>videomain</servlet-name>
		<url-pattern>/video</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>videolist</servlet-name>
		<jsp-file>/WEB-INF/pages/VideoListPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>videolist</servlet-name>
		<url-pattern>/videolist</url-pattern>
	</servlet-mapping>

</web-app>

